<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.visualprogrammer"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
	<uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="18" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_apps_logo"
        android:label="@string/app_name"
        >
        <activity
            android:name="visualprogrammer.SplashScreenActivity"
            android:label="@string/app_name" 
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensorLandscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="joystick.JoystickActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity
            android:name="visualprogrammer.BuildUiActivity"
            android:theme="@android:style/Theme.NoTitleBar"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="sensorLandscape">
        </activity>
        <activity android:name="webservice.SyncActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Sinkronisasi File" />
        <activity android:name="webservice.CloudActivity"
            android:theme="@android:style/Theme.Dialog"
            android:windowSoftInputMode="stateHidden"
            android:label="Registrasi dan Login" />
        <activity android:name="visualprogrammer.ViewCodeActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Source Code" />
        <activity android:name="visualprogrammer.SaveDialogActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Masukkan Nama File" />
        <activity android:name="visualprogrammer.DeleteFileActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Pilih file yang akan dihapus" />
        <activity android:name="visualprogrammer.OpenFileActivity"
            android:theme="@android:style/Theme.Dialog"
            android:label="Pilih file yang akan dibuka" />
        <activity android:theme="@android:style/Theme.Dialog"
			android:label="@string/select_device" android:name="visualprogrammer.DeviceListActivity"></activity>
    </application>

</manifest>
